<div class="form-group row">
    <label class="col-form-label col-sm-2" for="sort_code">Sort Code</label>
    <div class="col-sm-8">
      <input autofocus minlength="6" maxlength="8" class="form-control" name="sort_code" value="<%= bank_account.sort_code %>" />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="account_number">Account Number</label>
    <div class="col-sm-8">
      <input autofocus minlength="8" maxlength="10" class="form-control" name="account_number" value="<%= bank_account.account_number %>" />
    </div>
  </div>