

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a class="btn btn-outline-dark cancel" href="/logout">Log Out</a>
<footer>
    <p>&copy; Abraham Prince - Software Engineering & Agile Development Assignment</p>
  </footer>

</div>

</body>

</html>