<%- include("_header") -%>

<h1>AP CLAIMANT PAYMENTS MANAGEMENT SYSTEM</h1>

<p>Welcome to the web application development for the AP Claimant Payment Management System</p>
            <a class="btn btn-lg btn-primary " href="/register" style="text-align: center; display:flex; justify-content: center; align-items: center; height: 100px; width: 300px; font-size: 40px; margin-left: auto; margin-right: auto;">REGISTER</a>
            <br>
            <br>
            <br>
            <a class="btn btn-lg btn-secondary cancel" href="/login" style="text-align: center; display:flex; justify-content: center; align-items: center; height: 100px; width: 300px; font-size: 40px; margin-left: auto; margin-right: auto;">LOGIN</a>
<%- include("_footer") -%>