<%- include("_header") -%>

<h1>Login page</h1>

<form method="POST" action="/login">
    <%- include("_loginEditor") -%>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>



<%- include("_footer") -%>